*{
    padding: 0;
    margin: 0;
}
body{
    background-color: white;
}

h1{
    font-size: 50px;
    color: blueviolet;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;

}
#Layout{
    display: grid;
    grid-template-areas: 
    'top'
    'meio'
    'footer';
    /*grid-template-rows: 100px 50% 100px;*/


}

#top{
 grid-area: top;
 background-color: black;
 height: 50px;
}

#meio{
    grid-area: meio;
    background-color: red;
    height: auto;
}

#footer{
    grid-area: footer;
    background-color: blue;
    height: 200px;
}
#meio div{
    text-align: center;
    margin: 10px auto;
    width: 25px;
    background-color: white;
}